[Unit]
Description=Phoenix
After=network.target

[Service]
User=root
Group=root
Environment="PORT=4001"
Environment="MIX_ENV=prod"
Environment="DATABASE_URL=ecto://postgres:postgres@localhost/phoenix"
WorkingDirectory=/root/phoenix
ExecStart=/root/phoenix/phoenix_server_start.sh
Restart=always
KillSignal=SIGQUIT
SyslogIdentifier=phoenix
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
